<div style="display: flex;flex-direction: row;justify-content: flex-end;width: 100%;font-size: x-large;background-color: antiquewhite;text-decoration: none;">
  <span><img src="../../assets/logout.png" style="height: 25px;width: 25px;"><a (click) = "signOut()" routerLink="/login"  ariaCurrentWhenActive="page" class="tab" >Sign Out</a></span>
</div>
<router-outlet></router-outlet>
  <div class="main-container">
    <div>
        <h1 class="header">
            Plan For Today</h1>
    </div>
    <div class="mainBody">
        <table>
            <tr *ngFor="let item of rowData; let i = index">
                <td>
            <div class="rowData checkbox" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
              <span><input type="checkbox" (click)="clickedCheckBox(item.taskNo)" [checked]="item.status"></span>
              <span style="flex: 1;">
                {{ item?.plan }}
              </span>
              <span>
                <i class="fas fa-edit" (click)="edit(item)"></i>
                <button type="button" style="margin-left: 0.5rem;" (click)="deleteTask(item.taskNo)" class="deleteButton">X</button>  
              </span>
            </div>

                </td>
              </tr>
              
        </table>
      </div>
      
    <div class="plus-icon">
        <i class="fas fa-plus" (click)="addPlan()"></i>
     </div>    
</div>


<div class="popUpModal" *ngIf="popUpModal">
  <button type="button"  class="deleteButton"  (click)="closePopUp()" style="height: 20px; 
  width: 20px;
  padding: 0px;
  position: fixed;
  top: 47%;
  right: 9%;">X</button>
    <input type="text" [(ngModel)]="data.plan" style="margin-left: 32px;
    margin-top: 29px;">
    <br>
    <button class="addPopup" (click)="addPlanMessage()" style="margin-top: 15px;
    margin-left: 84px;background-color: lightgreen;">Add</button>
</div>


<div class="popUpModal" *ngIf="popUPModalEdit">
  <button type="button"  class="deleteButton"  (click)="closePopUp()" style="height: 20px; 
  width: 20px;
  padding: 0px;
  position: fixed;
  top: 47%;
  right: 9%;">X</button>
    <input type="text" [(ngModel)]="editPlan" style="margin-left: 32px;
    margin-top: 29px;">
    <br>
    <button class="editPopup" (click)="editPlanMessage()" style="margin-top: 15px;
    margin-left: 84px;background-color: lightblue;">EDIT</button>
</div>

<div *ngIf="popUpModal || popUPModalEdit" class="backOverlay"></div>