<div>
    <div>
        <h1 class="header">
            Plan For Today</h1>
    </div>
    <div class="mainBody">
        <table>
            <tr *ngFor="let item of rowData; let i = index">
                <td>
                  <div class="rowData checkbox">
                    <input type="checkbox" (click)="clickedCheckBox(item.taskNo)" [checked]="item.status">
                    {{ item?.plan }}
                    <i style="margin-left: 150px;" class="fas fa-edit" (click)="edit(item.taskNo)"></i>
                    <button type="button" style="margin-left: 0.5rem;" (click)="deleteTask(item.taskNo)" class="deleteButton">X</button>
                  </div>
                </td>
              </tr>
              
        </table>
      </div>
      
    <div class="plus-icon">
        <i class="fas fa-plus" (click)="addPlan()"></i>
     </div>    
</div>

<div class="popUpModal" *ngIf="popUpModal">
    <input type="text" [(ngModel)]="data.plan" style="margin-left: 32px;
    margin-top: 29px;">
    <br>
    <button class="addPopup" (click)="addPlanMessage()" style="margin-top: 15px;
    margin-left: 84px;background-color: lightgreen;">Add</button>
</div>


<div class="popUpModal" *ngIf="popUPModalEdit">
    <input type="text" [(ngModel)]="editPlan" style="margin-left: 32px;
    margin-top: 29px;">
    <br>
    <button class="editPopup" (click)="editPlanMessage()" style="margin-top: 15px;
    margin-left: 84px;background-color: lightblue;">EDIT</button>
</div>