<div style="display: flex;flex-direction: row;justify-content: flex-end;width: 100%;font-size: x-large;background-color: antiquewhite;" *ngIf="!viewBar">
    
    <span><img src="../../assets/log-in.png" style="height: 25px;width: 25px;"><a routerLink="/login"  ariaCurrentWhenActive="page" class="tab">Sign in</a></span>
    <span style="margin-left: 22px;">
        <img src="../../assets/add-friend.png" style="height: 25px;width: 25px;"><a routerLink="/register"  ariaCurrentWhenActive="page" class="tab">Create</a></span>
    
</div>

<!-- <div style="display: flex;flex-direction: row;justify-content: flex-end;width: 100%;font-size: x-large;background-color: antiquewhite;" *ngIf="viewBar && viewPage">
    <span><img src="../../assets/logout.png" style="height: 25px;width: 25px;"><a routerLink="/login"  ariaCurrentWhenActive="page" class="tab">Sign Out</a></span>
</div>
<router-outlet></router-outlet> -->