.avathar
{
    margin-left: 32%;
    height: 115px;
    width: 140px;
    margin-top: 30%;
}
.formClass
{
    // border: 3px solid lightblue;
    // margin-left: 5%;
    width: fit-content;
    text-align: justify;
    margin: 10%;
}
body, html {
    height: 100%;
    margin: 0;
  }
.main-container {
    height: 93%;
    width: 100%;
    position: relative;
  }
  
  .backOverlay {
    height: 105%;
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1; /* Ensure the overlay is above other content */
  }

  label
  {
    font-size: x-large;
    color: white;
  }